<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>SIMULATOR1.ph.suri.app.share</string>
	<key>com.apple.developer.team-identifier</key>
	<string>SIMULATOR1</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.ph.suri.app</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>SIMULATOR1.ph.suri.app.share</string>
	</array>
</dict>
</plist>
